---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import DitherBackground from '../components/DitherBackground.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body class="min-h-screen flex flex-col bg-white dark:bg-bg-dark text-gray-dark dark:text-text-dark">
		<DitherBackground />
		<div class="relative z-10 flex flex-col flex-1">
			<Header />
			<main class="flex-1">
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>
